*.unselectable {
   -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   user-select: none;
}

body {margin:1em;background:black;color:#eee;}
h1, h2, p {margin:0;padding:0;}
p {margin-top:0.5em;}
canvas {margin-top:2px;margin-right:2px;}
textarea {width:800px; height:400px; font-size:8pt; background:#333; color:#fff;}
.shape {border:solid 1px rgba(0,0,0,0);}
.selected {border:solid 1px yellow;}